<%- include('../includes/head.ejs') %>

</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main class="container text-center mt-3 form-signin w-50">
        <% if(errors) { %>
        <div class="alert alert-warning" role="alert">
            <%=errors %>
        </div>
        <% } %>
        <form class="w-50 m-auto" action="/signup" method="post">
            <img class="mb-4" src="/img/shopping-cart.png" alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">Please Sign Up</h1>
            <div class="mb-3">
                <input type="email" name="email" id="email"
                    class="form-control <%= invalidInput.email !== '' ? 'is-invalid' : '' %>"
                    value="<%= invalidInput.email %>" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <input type="firstName" name="firstName" id="firstName"
                    class="form-control <%= invalidInput.firstName !== '' ? 'is-invalid' : '' %>"
                    value="<%= invalidInput.firstName %>" placeholder="enter first name">
            </div>
            <div class="mb-3">
                <input type="lastName" name="lastName" id="lastName"
                    class="form-control <%= invalidInput.lastName !== '' ? 'is-invalid' : '' %>"
                    value="<%= invalidInput.lastName %>" placeholder="enter last name">
            </div>
            <div class="mb-3">
                <input type="password" name="password" id="password"
                    class="form-control <%= invalidInput.password !== '' ? 'is-invalid' : '' %>"
                    placeholder="enter password">
            </div>
            <div class="">
                <input type="password" name="repeatedPassword" id="repeatedPassword"
                    class="form-control <%= invalidInput.repeatedPassword !== '' ? 'is-invalid' : '' %>"
                    placeholder="repeat password">
            </div>
            <%- include('../includes/csrfToken.ejs') %>
            <button class="mt-3 w-100 btn btn-primary" type="submit">Sign up</button>
        </form>
    </main>

    <%- include('../includes/end.ejs') %>