<%- include('../includes/head.ejs') %>

</head>

<body>
<%- include('../includes/navigation.ejs') %>

<main class="container-sm">
    <form action="<%= editing ? '/admin/edit-product' : '/admin/add-product' %>" method="POST">
        <div class="m-2" style="max-width: 80%">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="title" id="title" value="<%= editing ? product.title : '' %>"
                   class="form-control">
            <label for="price"
                   class="form-label">Price</label>
            <input type="number" step="0.01" name="price" id="price" class="form-control" value="<%= editing ?
                    product.price : '' %>">
            <label for="description"
                   class="form-label">Description</label>
            <textarea name="description" id="description" class="form-control"
                      rows="3"> <%= editing ? product.description : '' %></textarea>
            <label for="imgUrl"
                   class="form-label">Image</label>
            <input type="file" name="imgUrl" id="imgUrl" class="form-control" value="<%= editing ? product.imgUrl : ''
            %>">
            <% if (editing) { %>
                <input type="hidden" value="<%= product.id %>" name="productId">
            <% } %>
            <button class="btn btn-outline-primary mt-2" type="submit">
                <%= editing ? 'Update Product' : 'Add Product' %>
            </button>
        </div>
    </form>
</main>
<%- include('../includes/end.ejs') %>