<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Sort By</li>
        <li class="breadcrumb-item">
            Latest
            <a class="px-1" href="<%= path %>?sort=createdAt,asc">
                <i class="fa-solid fa-arrow-up"></i></a>
            <a class="px-1" href="<%= path %>?sort=createdAt,desc">
                <i class="fa-sharp fa-solid fa-arrow-down"></i></a>
        </li>
        <% if(path !== '/orders'){ %>
        <li class="breadcrumb-item">Price
            <a class="px-1 active" href="<%= path %>?sort=price,asc">
                <i class="fa-solid fa-arrow-up"></i></a>
            <a class="px-1" href="<%= path %>?sort=price,desc">
                <i class="fa-sharp fa-solid fa-arrow-down"></i></a>
        </li>
        <% }else{ %>
        <li class="breadcrumb-item">Total
            <a class="px-1 active" href="<%= path %>?sort=total,asc">
                <i class="fa-solid fa-arrow-up"></i></a>
            <a class="px-1" href="<%= path %>?sort=total,desc">
                <i class="fa-sharp fa-solid fa-arrow-down"></i></a>
        </li>
        <% } %>

        <% if(path !== '/orders'){ %>
        <li class="breadcrumb-item">Rating
            <a class="px-1 active" href="<%= path %>?sort=rating,asc">
                <i class="fa-solid fa-arrow-up"></i></a>
            <a class="px-1" href="<%= path %>?sort=rating,desc">
                <i class="fa-sharp fa-solid fa-arrow-down"></i></a>
        </li>
        <% }else{ %>

        <% } %>
    </ol>
</nav>