<%- include('../includes/head.ejs') %>

</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main class="container my-3">
        <h2 class="display-4 text-center">Top Products</h2>

        <div class="row align-items-stretch g-4 py-2">
            <% for(let topProduct of topProducts) { %>
            <div class="col opacity-100">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                    style=" background-image: url(<%= topProduct.image %>);">
                    <div class="d-flex flex-column  h-100 p-5 pb-3 text-white text-shadow-1"
                        style="background-color: rgba(0, 0, 0, 0.7);">
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"><%= topProduct.title %></h3>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">
                                <img src="/img/shopping-cart.png" width="32" height="32"
                                    class="rounded-circle border border-white">
                            </li>
                            <li class="d-flex align-items-center">
                                <small class="fw-bold ">Price: $ <%= topProduct.price %></small>
                            </li>
                        </ul>
                        <a href="/products/<%= topProduct.id %>" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
        <% if (hasProducts) { %>
        <%- include('../includes/sort-bar.ejs') %>

        <% for (let product of products) { %>
        <div class="row g-0 my-4 pb-2 border-bottom align-items-center">
            <div class="col-md-4 mw-50">
                <img src="/<%= product.image %>" class="d-block p-5 mx-lg-auto img-fluid">
            </div>
            <div class="col-md-8">
                <h3 class="display-6 fw-bold lh-1 mb-3"><%= product.title %></h3>
                <p class="lead"><strong>$<%= product.price %></strong></p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="mb-2">
                        <% for(let i = 1; i <= Math.round(product.rating); i++){ %>
                        <i class="fa-solid fa-star"></i>
                        <% } %>
                        <% for(let i = 1; i <= 5 - Math.round(product.rating); i++){ %>
                        <i class="fa-regular fa-star"></i>
                        <% } %>
                    </div>
                </div>
                <p class="lead"><%= product.description %></p>
                <div class="d-flex justify-content-start align-content-center">
                    <a href="/products/<%= product.id %>" class="btn btn-warning">Details</a>
                    <% if(isAuthenticated) { %>
                    <%- include('../includes/add-to-cart.ejs',{product:product}) %>
                    <% } %>
                </div>
            </div>
        </div>
        <% } %>
        <% } else { %>
        <h1>No Products Found!</h1>
        <% } %>
        <%- include('../includes/pagination.ejs', {pageRoute: '/'}) %>
    </main>
    <%- include('../includes/end.ejs') %>