<%- include('../includes/head.ejs') %>

</head>

<body>
<%- include('../includes/navigation.ejs') %>
<main class="container my-4">
    <% if (orders.length > 0) { %>
        <div class="list-group">
            <% for (let order of orders) { %>
                <a href="#" class="list-group-item list-group-item-action mb-5 shadow-sm">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Order Nr. <%= order.id %></h5>
                        <small><%= order.createdAt.toLocaleString() %></small>
                        <p>Total: $<%= order.dataValues.orderTotal %></p>
                    </div>
                    <% order.products.forEach(product => { %>
                        <div class="d-flex w-100 flex-column my-2">
                            <p class="mb-1">
                                <%= product.title %> (Quantity: <%= product.orderItem.quantity %> )
                            </p>
                            <p class="mb-1">
                                $<%= product.price %>
                            </p>
                            <small><%= product.description %></small>
                        </div>
                    <% }) %>
                </a>
            <% } %>
        </div>
    <% } else { %>
        <h1>NOTHING HERE</h1>
    <% } %>
</main>

<%- include('../includes/end.ejs') %>