<%- include('../includes/head.ejs') %>

</head>

<body>
<%- include('../includes/navigation.ejs') %>

<main class="container my-3">
    <% if (hasProducts) { %>
        <div class="row">
            <% for (let product of products) { %>
                <article class="col-md-3 shadow-sm p-3 m-2 mb-5 bg-white rounded">
                    <div class="card m-2 ">
                        <img class="card-img-top img-thumbnail rounded"
                             src="<%= product.imgUrl %>"
                             alt="A Book">
                    </div>
                    <div class="card-body">
                        <h1 class="card-title"><%= product.title %></h1>
                    </div>
                    <h3 class="card-text"><em>$<%= product.price %></em></h3>
                    <p class="card-text"><%= product.description %></p>
                    <%- include('../includes/add-to-cart.ejs',{product:product}) %>
                </article>
            <% } %>
        </div>
    <% } else { %>
        <h1>No Products Found!</h1>
    <% } %>
</main>
<%- include('../includes/end.ejs') %>